<h1>Sign Up Form</h1>

<form action="/register" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button type="Submit"> Submit</button>
</form>

<a href="/register" title="">Sign up!</a>
<a href="/login" title="">Log in!</a>
<a href="/signout" title="">Sign out!</a>