<div class="container">
	<div class="row">
		<h1 style="text-align: center">Create a New CampGround</h1>
		<div style="Width: 30%; margin:25px auto;">	
			<form  action="/campgrounds" method="POST" accept-charset="utf-8">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="name">	
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="image" placeholder="image">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="description" placeholder="description">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-default btn-primary btn-block" type="submit">Add New Campground</button>
				</div>
			</form>
			<a href="/campgrounds">Go Back</a>
		</div>	
	</div>
</div>